<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="https://em-content.zobj.net/thumbs/120/apple/354/thumbs-up_1f44d.png"
      type="image/x-icon"
    />
    <title>STB Movies picker</title>
  </head>
  <body>
    <nav>
      <ul class="navwrap">
        <li><a href="/">STB</a></li>
        <li><a href="/film/">Tous les films ^^</a></li>
        <li><a href="/film/new">Nouveau film :)</a></li>
        <li><a href="/film/tirage">Tirage !!</a></li>
      </ul>
    </nav>
  </body>
</html>
