<%- include("head") -%>

<div class="form_container">
    <div class="form_wrap">
        <h1>Tirajosaure ! XD</h1>
        <h2>Stbébous présents :</h2>
        <p>**STB présents**</p>
        <h2>Genre souhaité</h2>
        <p>**Les tags**</p>
        <h2>Combien de films ??</h2>
        <p>1 à 5</p>
        <div class="btnwrap">
            <button class="btn" type="submit">Rouler la roue !!!</button>
        </div>
    </div>
</div>

<%- include("footer") -%>